<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} - {{ org }}</title>
    <meta charset="utf-8">
    <meta name="description" content="Open311 GeoReport v2 Server">
    <meta name="author" content="Julian Bonilla">

    <!-- IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    {% endblock %}
  </head>

  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="#">{{ org }}</a></h3>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
      <footer>
        {% block footer %}
        <p>&copy; <a href="http://{{ jurisdiction }}">{{ org }}</a> 2011</p>
        {% endblock %}        
      </footer>
    </div>
  </body>
</html>
